/* BEGIN EXTERNAL SOURCE */
div {
display:none; background-color: #ffebe6; border: 1px solid #e43f3f; padding: 15px; border-radius: 8px; margin-bottom: 20px; color: #b71c1c;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display:none; color: #00b33c;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
background-color: #ccc; cursor: not-allowed;
}
/* END EXTERNAL SOURCE */
